body{
    font-family: Arial, Helvetica, sans-serif;
    /* background-color: whitesmoke; */
    font-size: 14px;
    
    }
    
    .container{
        display: flex;
    
    }
    
    .div60{
        width: 100%;
        /* border:2px solid blue; */
        padding:10px;
    
    }
    
    .div40{
    width: 30%;
    /* border: 2px solid yellow; */
    padding:20px;
    
    }
    .card{ 
        background-color: #eeeeee;
        height:110px;
       font-size: 15;
        display: flex;
        gap:20px;
        /* justify-content: space-evenly; */
    
    
    }
    #line{
          height: 80px;
          width:1px;
        
        background: grey;
      
       margin-left:60px;
       margin-right: 20px;
       margin-top: 20px;
    
    
    
        }
    .your_cart{
        /* border:2px solid red; */
        display:flex;
        justify-content: space-between;
    
      
    }
    img{
        margin-left: 20px;
        margin-top: 20px;
    }
    .btn{
        border:2px solid #f96302;
        padding:5px 25px;
        color:#f96302;
        font-weight: bolder;
        font-size: 13px;
    }
    
    .btn:hover{
        background: #f96302 ;
    }
    .cart1{
        font-size: 40px;
        margin-top: 50px;
        margin-bottom: 0px;
        border-bottom: 4px solid #f96302;
    }
    
    #arrow{
        width:20px;
        height:20px;
        margin-top: 50px;
     
    }
    .cart_item{
    
        display: flex;
        border:10px solid #eeeeee;
        /* box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
        background:white; */
    }
    .cart_img{
        height: 200px;
        width:200px;
        margin-top: 0px;
        margin-right: 60px;
    }
    .cart_name{
        margin-right:0px;
    }
    .cart_price{
        margin-left: 00px;
    }
    .inner_div{
        display: flex;
        gap:10px;
    }
    .inner_div>div{
        height:150px;
        width:150px;
       
        border:2px solid grey;
    }
    .inner_div>div:hover{
        box-shadow: rgba(0, 0, 0, 0.25) 0px 54px 55px, rgba(0, 0, 0, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px, rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px;
        border:2px solid grey;
    }
    .input{
        border:1px solid grey;
        padding:7px 20px;
        width:70%;
        text-align: center;
        margin:auto;
        margin-top: 20px;
    }
    .bill{
        display:flex;
        justify-content: space-between;
        margin-bottom: 30px;
    }
    .total{
        display:flex;
        justify-content: space-between;
        padding-top:20px;
        margin-bottom: 20px;
    }
    .checkout{
    
          background:#f96302;
          color:white;
          font-weight: bolder;
          padding: 10px 150px;
          border:none;
          text-align: center;
          font-size: 20px;
          margin-bottom: 20px;
    
    }
    
    .paypall_btn{
        width: 95%;
        background:#ffc439;
        color:white;
        font-weight: bolder;
        padding: 10px 150px;
        border:none;
        text-align: center;
        font-size: 20px;
    }
    .hr_line{
        background: #eeeeee;
        height: 10px;
        margin-top: 25px;
    }
    .off{
        display: flex;
    }
    .off_div>h3{
        
        font-size: 25px;
    }
    .off_div{
        padding-top: 2px;
        padding-left: 15px;
        font-size: 15px;
    }
    .cal_price{
    
        display: flex;
        justify-content: space-between;
    }
    .cal_price>ul{
        list-style: none;
        padding:10px 0px;
    }
    .cal_price>ul>li{
     
        padding:5px 0px;
    }
    .right_btm{
        
        margin-top: 30px;
    
    
    }
    .btm:hover{
        text-decoration: underline;
    }
    
    
       /* div60  slider */
    