body {
  font-family: Helvetica, Arial, sans-serif;
  background-color: whitesmoke;
}
.main{
  margin-bottom: 30px;
}
#col15 {
  display: flex;
}
#filters {
  width: 20%;
}
#products {
  padding-left: 5px;
  width: 80%;
  display: flex;
  flex-wrap: wrap;
  gap: 10px;
}
#products > h3 {
  color: #333;
  font-size: small;
}

.class55 {
  width: 250px;
  background-color: white;
  position: relative;
}

.imageCntrl {
  width: 100%;
}

h3 > sup {
  font-size: 15px;
  padding-top: 5px;
  font-weight: normal;
}
.class55 h3 {
  font-size: xx-large;
  display: inline-flex;
}
.class141 {
  display: flex;
}
.class675 {
  padding-top: 20px;
}
.class624 {
  padding: 8px;
}
.class98 {
  line-height: 5px;
  padding-top: 25px;
  font-size: small;
}
.class98 > p:nth-child(2) {
  color: green;
}

#content button {
  width: 100%;
  margin-top: 15px;
  margin-left: -8px;
  height: 40px;
  border: #f96302 solid 2px;
  color: #f96302;
  background-color: white;
  font-size: 1.2rem;
  font-weight: bold;
  line-height: 1em;
  text-align: center;
  position: absolute;
  bottom: 0;
}
#content button:hover {
  background-color: #f96302;
  color: white;
}
i {
  color: orange;
}
#class1896 {
  height: 120px;
  margin-bottom: 50px;
}
#class1896 > img {
  height: 100%;
  width: 100%;
}
.class141 {
  margin-bottom: 20px;
}
.class98 {
  padding-left: 5px;
}
#id55 {
  display: flex;
  justify-content: space-between;
  margin-bottom: 15px;
}
#sortBy {
  font-size: small;
}
#id78 {
  border: none;
  background-color: transparent;
  font-weight: bold;
}
#resultsFound {
  font-weight: bold;
}
#filters > div {
  background-color: white;
  padding-left: 8px;
  padding-top: 8px;
  margin-bottom: 15px;
}
#filters > div > div {
  display: flex;
}
#filters > div > div > input {
  margin-top: 15px;
  width: 15px;
}
#rating > select {
  height: 25px;
  width: 100%;
  font-weight: bold;
  border: none;
}
#price input {
  min-width: 30px;
  height: 30px;
  margin-right: 5px;
}
#class6541 > input {
  min-width: 50px;
  height: 50px;
  text-align: center;
}
#class6541 > p {
  padding: 8px;
}
#subtell {
  border: gray solid 2px;
  color: gray;
  background-color: white;
  font-size: 1.2rem;
  font-weight: bold;
  line-height: 1em;
  text-align: center;
}
#subtell:hover {
  background-color: #f96302;
  color: white;
}
